<div class="row">
	
	<div class="col-md-6">
		
	




<table  class="table table-sm table-hover">
	<tr *ngFor="let employee of employees">
		<td>
			{{employee.FirstName}} - {{employee.LastName}} 
		</td>
		<td>
			{{employee.EmpCode}}
		</td>
		<td>
			<a  class="btn" (click)="showForEdit(employee)" >
				<i class="fa fa-pencil-square-o"></i>
			</a>
			<a  class="btn text-danger" (click)="onDelete(employee.EmployeeId)">
				<i class="fa fa-trash-o"></i>
			</a>
		</td>
	</tr>


</table>
</div>
<br/>

<div class="col-md-6">
		
	
<form  class="emp-form" #employeeForm="ngForm"  (ngSubmit)="onSubmit(employeeForm)" >
	<input type="hidden" name="EmployeeId" #EmployeeId=ngModel [(ngModel)]="employeeService.seletedEmployee.EmployeeId" >
	<div class="form-row">
		<div class="form-group col-md-6">
			<input  class="form-control" name="FirstName" placeholder="FirstName" #FirstName="ngModel" [(ngModel)]="employeeService.seletedEmployee.FirstName"  required="">
			<div class="validation-error" *ngIf="FirstName.invalid && FirstName.touched ">this field is required.</div>
		</div>
		<div class="form-group col-md-6">
			<input  class="form-control" name="LastName" placeholder="LastName" #LastName="ngModel" [(ngModel)]="employeeService.seletedEmployee.LastName" >
		</div>
	</div>
	<div class="form-group">
			<input  class="form-control" name="Position" placeholder="Position" #Position="ngModel" [(ngModel)]="employeeService.seletedEmployee.Position" >
	</div>

<div class="form-row">
		<div class="form-group col-md-6">
			<input type="text" class="form-control" name="EmpCode" #EmpCode="ngModel" placeholder="EmpCode" [(ngModel)]="employeeService.seletedEmployee.EmpCode" >
		</div>
		<div class="form-group col-md-6">
			<input type="text" class="form-control" name="Office" #Office="ngModel" placeholder="Office" [(ngModel)]="employeeService.seletedEmployee.Office" >
		</div>
	</div>

<div class="form-row">
		<div class="form-group col-md-8">
			<button type="Submit" [disabled]="!employeeForm.valid" class="btn btn-lg btn-block btn-info"> <i class="fa fa-floppy-o"></i> Submit</button>
		</div>
		<div class="form-group col-md-4">
			
			<button type="button" class="btn btn-lg btn-block btn-secondary" (click)="resetForm(employeeForm)"> <i class="fa fa-repeat"></i> Reset</button>
		</div>
	</div>


</form>

</div>

</div>